body {
    color: deeppink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid blanchedalmond;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background-color: blue;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    

}